.auto-resize-input {

    /* margin: 1.5em 1em; */
}

.auto-resize-input-text {

    border: rgb(196, 235, 235) solid .75em;

    /* width: 10em; */
    width: 7.5em;
    height: 2em;

    text-align: center;
    text-transform: uppercase;
    font-family: 'Ubuntu';

    cursor: text;
}

.auto-resize-input-text:focus {
    border-color: rgb(93, 184, 184);
    outline: none;
}